# Added 20 apr 2022 to reduce git footprint
.gitignore
.vscode/
.funcignore
Icons/
HttpTrigger1/
host.json
profile.ps1
requirements.psd1


# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json